@model DinamicCV.Models.WorkData

@{
    ViewData["Title"] = "Apagar Registo";
}

<h1>Apagar Registo</h1>

<h3>Tem certeza que quer eliminar este registo?</h3>
<div>
    <h4>Experiência Profissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WorkDataId" />
        <input type="submit" value="Apagar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
