@model DinamicCV.Models.WorkData

@{
    ViewData["Title"] = "Visualizar Registo";
}

<h1>Visualizar Registo</h1>

<div>
    <h4>Experiência Profissional</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitialDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkDataId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
