@model ListaWorkDataViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Inserir Novo Registo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkDatas[0].Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDatas[0].InitialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDatas[0].FinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDatas[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDatas[0].JobDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.WorkDatas) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkDataId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkDataId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkDataId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        @{ int paginaInicial = Model.Paginacao.PaginaAtual - Pagination.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                        //int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS / 2;
                        if (paginaInicial < 1)
                        {
                            paginaInicial = 1;
                        }

                        int paginaFinal = Model.Paginacao.PaginaAtual + Pagination.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
                        //int paginaFinal = paginaInicial + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS - 1;
                        if (paginaFinal > Model.Paginacao.TotalPaginas)
                        {
                            paginaFinal = Model.Paginacao.TotalPaginas;
                        } }

        <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-pagina="1" asp-route-nomePesquisar="@Model.NomePesquisar">Primeiro</a>
        </li>

        @for (int i = paginaInicial; i <= paginaFinal; i++)
        {
<li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
    <a class="page-link" asp-action="Index" asp-route-pagina="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
</li>            }

        <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas  ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas" asp-route-nomePesquisar="@Model.NomePesquisar">Último</a>
        </li>
    </ul>
</nav>




